.landmarksContainer{
    display: flex;
    justify-content: space-around;
    font-size: 0.5em;
    gap: 50px;
    width: 1280px;
}
.rightHandContainer, .leftHandContainer{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.right, .left{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}